.header__container {
    display: grid;
    grid-template-columns: 50% 30%;
    text-align: center;
    gap: 10%;
    padding-top: 3.5rem;
}

.header__info {
    margin-top: 4.5rem;
}

/* ==========  C T A  ========== */

.cta {
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

/* ==========  H E A D E R   S O C I A L S  ========== */

.header__socials {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    margin-top: 2.5rem;
    font-size: 1.5rem;
}

.header__socials::after {
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

/* ==========  M E  ========== */
.me {
    width: 100%;
    display: grid;
    place-items: center;
    justify-content: center;
    margin-top: 3.5rem;
}

.me__image {
    aspect-ratio: 1/1;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    background: linear-gradient(var(--color-primary), transparent);
    padding: 3rem 1.5rem 1.5rem 1.5rem;   
}


/* =============  M E D I A   Q U E R I E S  ============= */

/* ========== MEDIUM DEVICES ========== */

@media screen and (max-width: 1024px) {
    .header__container {
        padding-top: 1rem;
        grid-template-columns: 1fr;
        gap: 0;
     }  
     
     .me {
        width: 40%;
        margin: 2rem auto 1rem;
     }  
}

/* ========== SMALL DEVICES ========== */

@media screen and (max-width: 600px){
     .header__container {
        grid-template-columns: 1fr;
        gap: 0;
        padding-top: 1rem;
     }  
     
    .me {
        width: 65%;
        margin: 2rem auto 0;    
    }
}