hr {
    background: var(--color-primary-variant);
    height: 1px;
    box-shadow: 0 0 9px 1px rgba(255, 255, 255, 0.15);
}

footer {
    padding: 1rem 0;
    text-align: center;
    font-size: 0.94rem;
    margin-top: 3rem;
}

.footer__container {
    display: flex;
    justify-content: center;
}

.footer__logo {
    width: 2.5rem;
    margin: 2rem 0 0.5rem 0;
}

.footer__copyright {
    margin-bottom: 0.5rem;
    color: var(--color-primary);
}


/* =============  M E D I A   Q U E R I E S  ============= */


/* ========== SMALL DEVICES ========== */

@media screen and (max-width: 600px) {
    footer {
        font-size: 0.8rem;
    }
    
    .footer__logo {
        margin: 1.5rem 0 0.2rem 0;
        width: 2rem;
    }
}