.nav__items {
    justify-content: space-between;
    display: inline-flex;
    align-items: center;
    font-size: 0.95rem;
    padding: 0.1rem 1.7rem;
    background: rgba(0, 0, 0, 0.2);
    width: max-content;
    position: fixed;
    border-radius: 1.5rem;
    width: 98%;
    left: 50%;
    transform: translateX(-50%); 
    gap: 0.8rem;
    backdrop-filter: blur(15px);
    z-index: 2;
}

.img__nav {
    width: 2rem;
    margin-left: 1.5rem;
}

nav a {
    background: transparent;
    padding: 0.9rem;
    border-radius: 50%;
    display: flex;
    color: var(--color-primary);
    font-size: 1.1em;
}

.links__nav {
    display: grid;
    grid-template-columns: repeat(6, auto);
    justify-content: end;
}


nav a.active {
    background: var(--color-primary);
    color: var(--color-bg)
}
