nav {
    justify-content: space-between;
    display: inline-flex;
    align-items: center;
    font-size: 0.95rem;
    padding: 0.1rem 1.7rem;
    background: rgba(0, 0, 0, 0.2);
    width: max-content;
    position: fixed;
    border-radius: 1.5rem;
    width: 98%;
    left: 50%;
    transform: translateX(-50%); 
    gap: 0.8rem;
    backdrop-filter: blur(15px);
    z-index: 2;
}

.img__nav {
    width: 2.5rem;
    margin-left: 1rem;
}

nav a {
    background: transparent;
    padding: 0.9rem;
    border-radius: 50%;
    display: flex;
    color: var(--color-primary);
    font-size: 1.1em;
}

.links__container {
    display: grid;
    grid-template-columns: repeat(6, auto);
    justify-content: end;
}

nav a.active {
    background: var(--color-primary);
    color: var(--color-bg)
}


/* =============  M E D I A   Q U E R I E S  ============= */

@media screen and (min-width: 769px) {
  .burger__nav {
      display: none;
  }
}

@media screen and (max-width: 768px) {

  .links__container {
    position: absolute;
    top: -700px;
    left: -2000px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 1.5rem;
    z-index: 0;
  }

  .img__nav {
    width: 2rem;
    margin-left: -0.8rem;
  }

  .links__container.active {
    width: 100%;
    display: block;
    background: var(--color-bg);
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 4rem;
    left: 0;
    right: 0;
    text-align: center;
    height: 53vh;
    z-index: -1;
    transition: width 0.3s ease-in-out;
    transition-delay: 0.1s;
  }
  
  .link__button {
    display: block;
    padding: 1rem;
  }
  
}